[submodule "Day 5"]
	path = Day 5
	url = https://github.com/FareaaFaisal/day05.git
[submodule "Day 6"]
	path = Day 6
	url = https://github.com/FareaaFaisal/day06.git
[submodule "Day 3/Api-Integration"]
	path = Day 3/Api-Integration
	url = https://github.com/FareaaFaisal/Functional-web.git
